<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login Form</title>
</head>
<body>
<h2 style="color: green;" th:if="${delete}" th:text="${delete}"></h2>
	<table border="1">
		<thead>
			<tr>
				<th>ID</th>
				<th>Email</th>
				<th>Name</th>
				<th>Password</th>
				<th>Delete Record</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user : ${users}">
				<td th:text="${user.id}"></td>
				<td th:text="${user.email}"></td>
				<td th:text="${user.name}"></td>
				<td th:text="${user.password}"></td>
				<td><a th:href="@{/delete/{id}(id=${user.id})}">
					<button>Delete</button>
				</a>
				</td>
			</tr>
		</tbody>
	</table>
	<br>
	<br>
	<span>Get back to login<span> <a href="/login">click
				here</a>
</body>
</html>
